<div class="ion-page">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title size="large">Můj TODO List - DMA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <form (ngSubmit)="add()" style="margin-bottom: 12px;">
      <ion-item>
        <ion-input
          placeholder="Přidat úkol..."
          [(ngModel)]="newText"
          name="newText"
        ></ion-input>

        <ion-button shape="round" color="primary" size="default" type="submit">Přidat</ion-button>
      </ion-item>
    </form>

    <ion-list>

      @for (t of todos; track t.id; let i = $index) {
        <ion-item>
          <ion-checkbox color="dark" slot="start" [(ngModel)]="t.done" name="done{{ i }}"></ion-checkbox>

          <ion-label [class.done]="t.done">
            {{ t.text }}
          </ion-label>

          <ion-button color="dark" fill="clear" slot="end" (click)="remove(i)">
            ✖
          </ion-button>
        </ion-item>
      }

      @empty {
        <ion-item>
          <ion-label>Žádné úkoly</ion-label>
        </ion-item>
      }

    </ion-list>

    <div class="todo-list-bottom-ui">
      <small>Hotovo: {{ completedCount() }} / {{ todos.length }}</small>
      <ion-button size="small" fill="clear" (click)="clearCompleted()">Vymazat hotové</ion-button>
    </div>

  </ion-content>
</div>
